body,
html{
    height: 100%;
}

/* .container{
    width: 80%;
} */

.input-tabela, .easy-autocomplete, .eac-description{
  background-color:inherit;
  border: 0;
  height: 30px;;
  box-shadow: none; 
  text-align: center;
}

.h3, h3{
	font-size: 15px;
}

.cnt-comprando{
	margin-top: 10px;
}

.img-produto2{
	-webkit-max-width:241px;
    -webkit-max-height:200px;
    -webkit-min-width:241px;
    -webkit-min-height:200px;
    max-width:241px;
    max-height:200px;
    min-width:241px;
    min-height:200px;
}

.caption p{
	font-size: 15px;
}

.listThumb {
    -webkit-max-height: 387px;
    -webkit-min-height: 356px;
    max-height: 387px;
    min-height: 356px;
}

.listThumb:hover{
	background-color: rgba(241, 249, 251, 0.7);
	
}

.input-tabela:focus,
.input-tabela:hover{	
	box-shadow: 0 1 1 #3d73b1; 
}

#erro{
	box-shadow: 0 1 1 #ff0000;
}

/*.quantidade-item{
    width: 80px;
    transform: translateX(50%);
}*/
thead th{
    text-align: center;
}

#thItem{
	width: 5%;
}

#thDesc{
	width: 80%;
}

#thQnt{
	width: 15%;
}

.tabela-pedidos{
    margin: 10%;
}

.pedidos-toolbar{
    background-color: #3d73b1;
    width: 100%;
}

.info-user{
    padding: 14px;
}

.carrinho-compras{
    padding: 8px;

}

.listaPesquisa{
	margin-top: 38px;	
}

.listaPesquisa button{

	text-transform: uppercase;	
}
	

.titulo-pedidos{
    color: #3d73b1;
    padding: 10px;
    border-bottom: solid 1px #3d73b1;
}

.nav-user{
    background-color: #3d73b1;
    border-radius: 0;
    position: relative;
    width: 100%;
}

.nav-user a{
    color: #FFF;
}

.btn-menu{
    border: 0;
    border-radius: 2px;
    margin-left: 10px;
    
}

.nav-user .btn-menu .icon-menu {
    background-color: #FFF;
}

#cabecalho{
    margin-bottom: 0;
    border: 0;
}

#load{
    width: 32px;
    height: 32px;
    display: none;
}

.img-item{

    margin-left: 0px;
}

.desc-item{
    vertical-align: center;
}